/* General */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    scroll-behavior: smooth;
}

/* Background */
body {
    background-image: url(images/bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

/* Navigation */
.navbar {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background: rgba(4, 32, 215, 0.8);
    display: flex;
    justify-content: space-between;
    padding: 15px;
    z-index: 1000;
    animation: typing 2s;
}

.logo {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode',
        'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 24px;
    font-weight: bold;
    color: white;
    text-decoration: none;
}

.nav-links {
    list-style: none;
    display: flex;
    margin-top: 7px;
}

.nav-links li {
    margin: 0 15px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.8s;
}

.nav-links a:hover,
.logo:hover {
    color: #193f70;
}

/* Quiz and Exam Cards */
.cards {
    display: flex;
    justify-content: center;
    padding: 30px;
}

.quizexamcard {
    width: 100%;
    max-width: 1000px;
    padding: 25px;
    border-radius: 15px;
    text-align: center;
}

.quizexamcard h3 {
    margin-top: 20px;
    margin-bottom: 30px;
    color: white;
    font-size: 30px;
}

.quiz-images {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 30px;
}

.quiz-side {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px;
}

.quiz-side h4 {
    margin-bottom: 15px;
    color: white;
    font-size: 24px;
}

.quiz-side a {
    display: block;
}

.quiz-side img {
    width: 250px;
    height: 400px;
    object-fit: cover;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.quiz-side img:hover {
    transform: scale(1.03);
}

@media (max-width: 650px) {
    .quiz-images {
        flex-direction: column;
        align-items: center;
    }
}

/* Animation */
@keyframes typing {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}
/* Mobile */
@media (max-width: 700px) {
    .quiz-images {
        flex-direction: column !important;
        align-items: center !important;
    }

    .quiz-side {
        width: 90% !important;
        max-width: 300px;
    }
}
