/* General */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    scroll-behavior: smooth;
}

/* Background */
body {
    background-image: url(images/bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

/* Navigation */
.navbar {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background: rgba(4, 32, 215, 0.8);
    display: flex;
    justify-content: space-between;
    padding: 15px;
    z-index: 1000;
    animation: typing 2s;
}

.logo {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode',
        'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 24px;
    font-weight: bold;
    color: white;
    text-decoration: none;
}

.nav-links {
    list-style: none;
    display: flex;
    margin-top: 7px;
}

.nav-links li {
    margin: 0 15px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.8s;
}

.nav-links a:hover,
.logo:hover {
    color: #193f70;
}

/* Quiz Section */
#quizexamsection {
    padding-top: 100px;
}

.cards {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 30px 20px;
}

.quizexamcard {
    width: 100%;
    max-width: 900px;
    text-align: center;
}

.quizexamcard h3 {
    color: white;
    font-size: 30px;
    margin-bottom: 30px;
    animation: fadeDown 1s ease forwards;
}

/* FRONT AND BACK CONTAINER */
.quiz-images {
    width: 100%;
    display: flex !important;
    flex-direction: row !important;
    justify-content: center !important;
    align-items: flex-start !important;
    gap: 30px !important;
}

/* EACH IMAGE SECTION */
.quiz-side {
    width: 300px !important;
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    animation: slideUp 0.8s ease forwards;
}

/* FRONT AND BACK TEXT */
.quiz-side h4 {
    color: white;
    font-size: 24px;
    margin-bottom: 15px;
}

/* CLICKABLE IMAGE */
.quiz-side a {
    display: block;
    width: 100%;
}

/* IMAGE */
.quiz-side a img {
    display: block !important;
    width: 300px !important;
    max-width: 100% !important;
    height: auto !important;
    object-fit: contain !important;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.quiz-side a img:hover {
    transform: scale(1.03);
}

/* Animation */
@keyframes typing {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

@keyframes fadeDown {
    from {
        opacity: 0;
        transform: translateY(-30px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes slideUp {
    from {
        opacity: 0;
        transform: translateY(50px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}
